layout {

    focus-ring {
        active-color   "#abd290"
        inactive-color "#11140e"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#abd290"
        inactive-color "#11140e"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#abd290"
        inactive-color "#2f4f1b"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#abd29080"
    }
}

recent-windows {
    highlight {
        active-color "#abd290"
        urgent-color "#ffb4ab"
    }
}
